.banner-partial-2df8aa {
    .desktop{
        position: relative;
        overflow: hidden;
        max-height: 100vh;
        width: 100%;
        /*============ Background ============*/
        .background{
            width: 100%;
            max-height: 100vh;
            object-fit: cover;
            object-position: bottom;
        }
        .logo-loros{
            position: absolute;
            right: 4%;
            bottom: 0;
            transform: translateY(2%);
            width: 8vw;
        }
        .animations-img{
            /*========== Loros top left ==========*/
            .left-top{
                position: absolute;
                top: 6%;
                left: 20%;
                transform: translate(-20%, -6%);
                width: 20vw;
            }
            /*========== Loros bottom left ==========*/
            .bottom-left{
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 1s;
                width: 18vw;
            }
            /*============ Loro top right ===========*/
            .top-right{
                position: absolute;
                top: 30%;
                left: 95%;
                transform: translate(-95%, -30%);
                width: 16vw;
                transition: .5s;
                @media screen and (min-width:511px) and (max-width:768px){
                    top: 24%;
                    transform: translate(-95%, -24%);
                }
            }
            /*========== Bottom right ==========*/
            .bottom-right{
                position: absolute;
                right: 10%;
                bottom: 0;
                transform: translateY(7%);
                transition: 1s;
                width: 14vw;
            }
            /*======== Rewild text ========*/
            .rewildpark{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 33vw;
                transition: .6s;
            }
        }
    }
    .movil{
        display: none;
        height: 100%;
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
    @media(max-width:510px){
        .desktop{
            display: none;
        }
        .movil{
            display: block;
        }
    }
}