.gallery-fater-form-partial-e0f649 {
    background: $white;
    padding: 15px 0;
    .col-6, .col-12{
        padding: 2.5px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}