.make-a-diference-partial-09b84b {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 0;
    position: relative;
    @media(max-width:768px){
        padding: 3rem 0;
    }
    .main-img{
        img{
            width: 35vw;
            position: absolute;
            left: 0;
            transform: translateX(-5%);
            @media(max-width:768px){
                display: none;
            }
        }
    }
    .text-contain{
        .description{
            font-family: $primary_font;
            color: $white;
            font-size: $p;
            line-height: 1.2;
        }
        .icons-contain{
            margin: 2rem 0;
            display: flex;
            align-items: center;
            gap: 25px;
            img{
                width: 100%;
                max-width: 78px;
                height: auto;
            }
            @media(max-width:510px){
                gap: 10px;
                margin: 1rem 0;
                img{
                    max-width: 44px;
                }
            }
            @media screen and (min-width:511px) and (max-width: 991px){
                flex-wrap: wrap;
            }
        }
        h3{
            color: $green;
            font-family: $primary_font;
            font-weight: bold;
            margin: 2.5rem 0;
            font-size: calc(1rem + 2vw);
        }
        h2{
            font-family: $primary_font;
            color: $yellow;
            font-weight: bold;
            margin: 0;
            font-size: calc(1rem + 1.8vw);
            line-height: 1.2;
            span{
                font-size: calc(1.5rem + 3.6vw);
            }
        }
        @media(max-width:510px){
            padding: 0 18px;
            .description{
                font-size: 16px;
                br{
                    display: none;
                }
            }
            h3{
                font-size: 21px;
                margin: 1.3rem 0;
            }
        }
    }
}