.header-partial-7cbee3 {
    position: fixed;
    background: rgba(0,0,0, .3);
    left: 0;
    top: 0;
    padding: 8px 0;
    z-index: 20;
    width: 100%;
    .bar-menu{
        display: none;
        flex-direction: column;
        gap: 7px;
        width: 30px;
        cursor: pointer;
        span{
            height: 3px;
            background: $white;
            transition: .2s;
        }
        .center{
            width: 24px;
        }
    }
    .bar-menu.active{
        .top{
            transform: rotate(-45deg) translate(-5px, 7px);
        }
        .bottom{
            transform: rotate(45deg) translate(0, -50%);
        }
        .center{
            display: none;
        }
    }
    .nav-menu{
        ul{
            display: flex;
            gap: 15px;
            list-style: none;
            padding: 0;
            margin: 0;
            justify-content: center;
            li{
                a{
                    text-decoration: none;
                    color: $white;
                    font-family: $primary_font;
                    font-weight: 700;
                }
            }
        }
    }
    .nav-menu.active{
        display: block;
    }
    @media(max-width:768px){
        .bar-menu{
            display: flex;
        }
        .nav-menu{
            display: none;
            padding: 2rem 0 1rem 0;
            ul{
                flex-direction: column;
                justify-content: left;
                gap: 6px;
            }
        }
    }
}